.wrapper {
  padding: 8px 16px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 8px;
  border: none;
  transition: background-color 200ms, color 200ms;
  cursor: pointer;
}

.primary {
  background-color: hsl(245deg 100% 60%);
  color: white;
}

.secondary {
  background-color: transparent;
  color: hsl(15deg 10% 30%);
}

.primary:hover {
  background-color: hsl(245deg 75% 50%);
}

.secondary:hover {
  background-color: hsl(15deg 60% 90% / 0.5);
  color: black;
}