.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  border: none;
  cursor: pointer;
}

.sticker {
  position: absolute;
  /*
    When the user clicks, a sticker should be placed
    right underneath the cursor, centered. To accomplish
    this, we'll slide it up and to the left by 50% of
    its own size.
  */
  transform: translate(-50%, -50%);
  filter: drop-shadow(4px 8px 0px hsl(250deg 33% 50% / 0.5));
}