html, body, #root {
  height: 100%;
}

body {
  padding: 0px;
  background: hsl(0deg 0% 95%);
}

.wrapper {
  
}

.media-player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-top: 1px solid hsl(0deg 0% 85%);
  background: white;
}

.media-player img {
  width: 64px;
  border-radius: 8px;
}

.summary {
  flex: 1;
  min-width: 0px;
}
.summary h2 {
  line-height: 1em;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.summary p {
  font-size: 1rem;
  color: hsl(0deg 0% 33%);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.media-player button {
  width: 48px;
  height: 48px;
  min-width: 48px;
  background: hsl(0deg 0% 10%);
  border: none;
  color: white;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}